[submodule "aer-cpp"]
	path = src/third-party/aer-cpp
	url = https://github.com/CESGA-Quantum-Spain/qiskit-aer.git
[submodule "argparse"]
	path = src/third-party/argparse
	url = https://github.com/morrisfranken/argparse.git
[submodule "spdlog"]
	path = src/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "mqt-ddsim"]
	path = src/third-party/mqt-ddsim
	url = https://github.com/cda-tum/mqt-ddsim.git
[submodule "cunqasimulator"]
	path = src/third-party/cunqasimulator
	url = https://github.com/aziabatz/cunqasimulator.git
[submodule "zmq"]
	path = src/third-party/zmq
	url = https://github.com/CESGA-Quantum-Spain/cppzmq.git
[submodule "libzmq"]
	path = src/third-party/libzmq
	url = https://github.com/CESGA-Quantum-Spain/libzmq.git
[submodule "cunqasimulator"]
	path = src/third-party/cunqasimulator
	url = https://github.com/aziabatz/cunqasimulator.git
