[submodule "aer-cpp"]
	path = src/third-party/aer-cpp
	url = git@github.com:CESGA-Quantum-Spain/qiskit-aer.git
[submodule "argparse"]
	path = src/third-party/argparse
	url = git@github.com:morrisfranken/argparse.git
