NFS_SERVER=10.0.0.1
NFS_EXPORT_PATH=/
NFS_VERSION=4.2
WORKER_REPLICAS=2
CPUS_PER_NODE=2
SLURM_CLUSTER_NAME=cunqa
SLURM_PARTITION_NAME=debug
CUNQA_IMAGE=cunqa:dev
JUPYTER_TOKEN=cunqa
JUPYTER_PORT=8888
