/* Cambiar color de los bloques .. note:: */
div.admonition.note {
    background-color: #f4e6ff;   /* azul clarito */
    border-left: 5px solid #b97cda;
}

/* Cambiar color del título dentro de la nota */
div.admonition.note > .admonition-title {
    background-color: #b97cda;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3em 0.6em;
    border-radius: 5px;
}

