/* 
    CSS file to make the second column break instead of having
    an infinite column width 
*/
table.docutils th:nth-child(2),
table.docutils td:nth-child(2),
table.rst-table th:nth-child(2),
table.rst-table td:nth-child(2),
table.longtable th:nth-child(2),
table.longtable td:nth-child(2) {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
