
sphinx==7.4.7
docutils
sphinx-rtd-theme
sphinx-autobuild
myst-nb
nbsphinx
pypandoc
lxml-html-clean #needed for nbsphinx functionalities, which I use to display jupyter notebooks
sphinx-mdinclude
sphinx-autodoc-typehints
autodocsumm
sphinx-toolbox
