name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches:
      - 169-documentation-improvements
      - main  # or master, depending on your default branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r docs/requirements.txt
          sudo apt-get install -y pandoc
          pip install sphinx

      - name: Build the docs
        run: sphinx-build -b html docs/source/ docs/_build/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/